<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Signup</title>
</head>
<body>

    <div class="login-container">
        <form onsubmit="postSignup(); return false;">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Signup</button>
        </form>
    </div>

</body>
<script>

    function checkLoggedIn() {
        const username = sessionStorage.getItem('username');
        const userId = sessionStorage.getItem('userId');

        const session = fetch('/api/user')
            .then(response => response.json())
            .then(data => {
                return data.loggedIn;
        });

        if (username && userId && session == 200) {
            window.location.href = '/';
        }
    }

    checkLoggedIn();

    function postSignup() {
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const email = document.getElementById('email').value;

        fetch('/api/submit-signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ username, password, email }),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>
</html>