<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Signup</title>
</head>
<body>

    <div class="login-container">
        <form onsubmit="postSignup(); return false;">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <div class="error-message"></div>
            <br>
            <button type="submit">Signup</button>
            <h4>Already have an account? <a href="/login">Login here</a></h4>
        </form>
    </div>

</body>
<script>

    async function checkLoggedIn() {
        try {
            const response = await fetch('/api/user');
            const data = await response.json();
            
            // if already logged in redirect to home
            if (data.status === 200 && data.user) {
                window.location.href = '/';
            }
        } catch (error) {
            console.error('Error checking login status:', error);
        }
    }

    checkLoggedIn();

    function postSignup() {
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const email = document.getElementById('email').value;

        fetch('/api/submit-signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ username, password, email }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === 'Signup successful') {
                window.location.href = '/login';
                return;
            }
            
            document.querySelector('.error-message').textContent = data.message || 'Signup failed';
            
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>
</html>